altgraph==0.17.4
coverage==7.10.7
et-xmlfile==2.0.0
iniconfig==2.1.0
lxml==6.0.2
macholib==1.16.3
openpyxl==3.1.5
packaging==25.0
pluggy==1.6.0
pygments==2.19.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pytest==8.4.2
pytest-cov==7.0.0
python-docx==1.2.0
ruff==0.13.3
setuptools==80.9.0
types-openpyxl==3.1.5.20250919
typing-extensions==4.15.0
uv==0.8.22
